
 <!-- Page Content -->
 <div class="container">
    
          <!-- Page Heading/Breadcrumbs -->
          <h1 class="mt-4 mb-3">
            <small>Royal Life Login</small>
          </h1>
    
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Login</li>
          </ol>
            
    
          <!-- Login Form -->
          <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
          <div class="row">
            <div class="col-lg-8 mb-4">
              <h3>Login Here</h3>
                   <div *ngIf="errorMessage" class="alert alert-danger">
                  
                         {{errorMessage}}
                   </div>

              <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" id="contactForm" novalidate>
                <div class="control-group form-group">
                  <div class="controls">
                    <label>User Id:</label>
                    <input type="text" name="userId" class="form-control" id="userId" required minlength="6" [(ngModel)]="user.userId" #userId="ngModel" />
                   
                        <div *ngIf="userId.invalid && (userId.dirty || userId.touched)" class="alert alert-danger">
                        
                                 <div *ngIf="userId.errors.required">
                                     UserId is required.!
                                 </div>
                                 <div *ngIf="userId.errors.minlength">
                                   UserId must be at least 6 characters long.
                                 </div>
                         </div>

                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" id="password" required minlength="6" [(ngModel)]="user.password" #password="ngModel"/>

                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        
                                 <div *ngIf="password.errors.required">
                                    Password is required. !
                                 </div>
                                 <div *ngIf="password.errors.minlength">
                                    Password must be at least 6 characters long.
                                 </div>
                         </div>

                  </div>
                </div>
               
                
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">
                  Login
                </button>
              </form>
            </div>
    
          </div>
          <!-- /.row -->
    
        </div>
        <!-- /.container -->


