
  
      <!-- Page Content -->
      <div class="container">

            <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>

        <div class="jumbotron">
            <h1>Welcome, Royal Life!</h1>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
          </div>

            </div>
            <!-- /.container -->