
<!-- Page Content -->
<div class="container">
  
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">My Profile</h1>
  
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  
    <!-- Content Row -->
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-lg-3 mb-4">
        <div class="list-group">
          <profile-navbar></profile-navbar>
        </div>
      </div>
      <!-- Content Column -->
      <div class="col-lg-9 mb-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Profile</a></li>
          <li class="breadcrumb-item active">Change Password</li>
        </ol>
  
        <h3>Change Password</h3>
        <div *ngIf="successMessage" class="alert alert-success">
          {{successMessage}}</div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{errorMessage}}</div>
        <!-- Login Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <form #updatePasswordForm="ngForm"
          (ngSubmit)="updatePassword(updatePasswordForm.value)"
          id="updatePasswordForm" novalidate>
          <div class="row">
            <div class="col-lg-6">
  
  
  
              <div class="control-group form-group">
                <div class="controls">
                  <label>Old Password:</label> <input type="password"
                    name="oldPassword" class="form-control" id="oldPassword"
                    required minlength="6" [(ngModel)]="user.oldPassword"
                    #oldPassword="ngModel" />
  
                  <div
                    *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
                    class="alert alert-danger">
  
                    <div *ngIf="oldPassword.errors.required">Old Password is
                      required.!</div>
                  </div>
  
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>Password:</label> <input type="password" name="password"
                    class="form-control" id="password" required minlength="6"
                    [(ngModel)]="user.password" #password="ngModel" />
  
                  <div
                    *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="alert alert-danger">
  
                    <div *ngIf="password.errors.required">Password is
                      required.!</div>
                    <div *ngIf="password.errors.minlength">Password must be
                      at least 6 characters long.</div>
                  </div>
  
                </div>
              </div>
  
              <div class="control-group form-group">
                <div class="controls">
                  <label> Re-Password:</label> <input type="password"
                    name="rePassword" class="form-control" id="rePassword" required
                    minlength="6" [(ngModel)]="user.rePassword"
                    #rePassword="ngModel" />
  
                  <div
                    *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)"
                    class="alert alert-danger">
  
                    <div *ngIf="rePassword.errors.required">Re Password is
                      required.!</div>
                    <div *ngIf="rePassword.errors.minlength">Re Password must
                      be at least 6 characters long.</div>
                  </div>
  
                </div>
              </div>
  
  
              <div id="success"></div>
              <!-- For success/fail messages -->
              <button type="submit"
                [disabled]="!updatePasswordForm.form.valid || isSubmit"
                class="btn btn-primary">
                <i *ngIf="isSubmit" class="fa fa-spinner fa-spin"
                  style="font-size: 24px"></i> Update Profile
              </button>
  
            </div>
  
            <div class="col-lg-6"></div>
  
  
  
          </div>
        </form>
        <!-- /.row -->
  
  
  
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  